/* reset */
* { box-sizing: border-box; }
body { margin: 0; font-family: Arial, sans-serif; }

/* outer frame */
.layout {
  position: relative;
  width: 100%;
  border: 5px solid #e30000;
}

/* clearfix */
.cf::after {
  content: "";
  display: table;
  clear: both;
}

/* gaps between blocks */
.col {
  float: left;
  padding: 12px;
}

/* all boxes */
.box {
  border: 4px solid #e30000;
  background: transparent;
}

/* LEFT SIDEBAR */
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
}

/* because HTML has class="sidebar col" */
.sidebar.col { padding: 0; }

.sidebar .box.tall {
  width: 100%;
  height: 100%;
}

/* RIGHT CONTENT */
.main {
  width: 80%;
  margin-left: 20%;
  padding: 12px;
}

/* rows */
.row { width: 100%; }

/* widths */
.w25 { width: 25%; }
.w50 { width: 50%; }
.w70 { width: 70%; }
.w30 { width: 30%; }

/* heights */
.small { height: 110px; }

.bar {
  height: 55px;
  margin-bottom: 16px;
}
.bar:last-child { margin-bottom: 0; }

.large { height: 200px; }
.medium { height: 200px; }

/* only the middle-right box */
.mid-right { height: 126px; }

/* responsive */
@media (max-width: 750px) {
  .sidebar {
    position: static;
    width: 100%;
    height: 220px;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .col { float: none; width: 100%; }

  .w25, .w50, .w70, .w30 { width: 100%; }
}
