/* Basic reset */
* { box-sizing: border-box; }
body { margin: 0;}

/* container */
.layout {
  position: relative;        
  width: 100%;
  border: 5px solid #e30000;
  padding: 0;
}


/* "gaps" between blocks */
.col{
  float: left;             
  padding: 12px;          
}

.box{
  border: 4px solid #e30000;
  background: transparent;
}

/* left sidebar + main */
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;               
  left: 0;
  width: 20%;
}


.sidebar.col {
  padding: 0;
}

.main {
  width: 80%;
  margin-left: 20%;        
  padding: 12px;
}

/* rows */
.row{ width: 100%; }

/* widths inside main */
.w25{ width: 25%; }
.w50{ width: 50%; }
.w70{ width: 70%; }
.w30{ width: 30%; }

/* heights */
.small{ height: 110px; }

.bar{
  height: 55px;
  margin-bottom: 16px;     
}
.bar:last-child{ margin-bottom: 0; }

.medium{ height: 200px; }
.large{ height: 200px; }

/* clearfix */
.cf::after{
  content: "";
  display: table;
  clear: both;
}

/* Responsive: 750px and below */
@media (max-width: 750px){
  .sidebar, .main,
  .w25, .w50, .w70, .w30{
    width: 100%;
  }
}

.sidebar .box.tall {
  height: 100%;
  width: 100%;
}

.mid-right{
  height: 126px;
}
